
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a3cd2e;
}

.tab-bar {
    background-color: #d8e1c0;
    overflow: hidden;
    position: relative;
}

.tab-bar img {
    height: 100px; /* ปรับความสูงของโลโก้ตามที่คุณต้องการ */
    position: absolute;
    top: 50%; /* ย้ายโลโก้ไปที่ตรงกลางแนวดิ่ง */
    transform: translateY(-50%);
    margin-left: 10px; /* ระยะห่างของโลโก้จากขอบซ้าย */
}

.tab-bar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    margin-left: 0px;
}

.tab-bar a:hover {
    background-color: #8ac78d;
    color: black;
}

h1 {
    text-align: center;
    padding: 20px;
}

.main-content {
    text-align: center;
}

a {
    display: block;
    margin: 20px;
    /* background-color: #36f88d; */
    color: white;
    text-decoration: none;
    border-radius: 10px;
    height: 17px;
}
        
