@import url('https://fonts.googleapis.com');

* {
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background: #dfe9f5;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    overflow: hidden;
    transition: widht 0.2s linear;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5 ease;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 15px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgba(85,85,83);
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
}

i {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    width: 0;
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}
nav:hover {
    width: 280px;
    transform: all 0.5 ease;
}

.keluar {
    position: absolute;
    bottom: 0;
}

.text {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
    margin-top: 50px;
    margin-left: 60px;
    text-align: center; /* จัดให้ข้อความอยู่ตรงกลางในแนวนอน */
}

/* ตั้งค่าสไตล์สำหรับคอนเทนเนอร์ของช่องค้นหา */
.search-container {
    display: flex;
    margin-top: 30px;
    margin-left: 550px;
}

/* ตั้งค่าสไตล์สำหรับ input ของช่องค้นหา */
input[type="text"] {
    padding: 10px;
    width: 320px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* ตั้งค่าสไตล์สำหรับปุ่มค้นหา */
button[type="submit"] {
    padding: 10px 60px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
